/* FONT */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary: #474747;
    --secondary: #ad343e;
    --font-color: #2c2f24;
    --main-font: 'DM Sans', sans-serif;
    --heading-font: 'Playfair Display', serif;
}
* {
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    color: var(--font-color);
    font-family: var(--main-font);
}
body {
    background-color: #ffffff;
}

p {
    font-size: 16px;
    font-weight: 400;
}
li {
    list-style: none;
}
/* button */
.btn_box {
    border-radius: 50px;
    background-color: transparent;
    padding: 20px 32px;
    border: 1.5px solid #2c2f24;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 700;
    margin-right: 16px;
}

.btn-box {
    background-color: var(--secondary);
    border-radius: 50px;
    padding: 20px 32px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 16px;
}

/* top bar */
.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 10%;
}
.top_bar .info {
    display: flex;
    height: 24px;
}
.top_bar .info i {
    color: #ffffff;

    margin-right: 8px;
}
.top_bar .info p {
    color: #ffffff;
}
.top_bar .sosial a {
    margin-right: 4px;
    padding: 8px;
}
.top_bar .sosial i {
    color: #ffffff;
    font-size: 16px;
}
.call {
    display: flex;
}
.mail {
    display: flex;
}
/* navbar */
.navbar {
    padding: 11px 10%;
}
.navbar .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 16px;
    margin-right: 8px;
    border-radius: 34px;
}

.navbar .navbar-nav .nav-btn {
    color: var(--font-color);
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px;
    border: 1.5px solid #2c2f24;
    border-radius: 50px;
}
/* Hero Section */
.hero_section {
    background: url(../images/bg.png) center;
    background-size: cover;
    height: 100vh;
}
.hero_section .hero {
    padding-top: 185px;
}
.hero_section .hero .hero_title {
    margin-bottom: 40px;
    width: 667px;
}
.hero_section .hero .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_section .hero .hero_title h1 {
    line-height: 96px;
    font-family: var(--heading-font);
    font-size: 100px;
}
.hero_section .hero .hero_title p {
    line-height: 32px;
    font-size: 20px;
}
/* menu section */
.menu .container .menu_title h1 {
    font-family: var(--heading-font);
    color: var(--font-color);
    font-size: 55px;
    font-weight: 500;
}
.menu .container .row .card {
    width: 306px;
    margin-right: 24px;
}
.menu .container .row .card .card-body h5 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}
.menu .container .row .card .card-body p {
    font-size: 16px;
    font-weight: 400;
}
.menu .container .row .card .card-body a {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary) !important;
}

/* about */

.about .container .row .card {
    position: absolute;
    top: 295px;
    left: 238px;
}
.about .container .row .card .card-body {
    color: #ffffff;
}
.about .container .card .card-body .info i {
    color: #ffffff;
}
.about .container .card .card-body .info p {
    font-size: 16px;
    color: #ffffff;
}
.about .container .row .about_title {
    font-family: var(--heading-font);
    font-size: 55px;
}
.about .container .row .about_p {
    font-size: 18px;
    font-weight: 500;
    color: #2c2f24;
}
.about .container .row .about_p:nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    color: #2c2f24;
}

/* service */
.service .container .service_title {
    font-size: 55px;
    font-family: var(--heading-font);
    font-weight: 500;
}
.service .container .service_card .service_card_title {
    font-size: 24px;
    font-weight: 700;
}
/* content */

.content .container .row .content_title {
    font-family: var(--heading-font);
    font-size: 55px;
}
.content .container .row .content_text {
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}
/* tstimonial */
.testimonial .row .testimonial_title {
    font-size: 55px;
    font-weight: 500;
    font-family: var(--heading-font);
}
.testimonial .row .card {
    background-color: #f9f9f7;
}
.testimonial .row .card .card-body .card-title {
    color: var(--secondary);
    font-size: 24px;
    font-weight: 700;
}
.testimonial .row .card .card-body .card-text {
    font-size: 18px;
    font-weight: 400;
}
.testimonial .row .card .card-body .user {
    border-top: 1px solid #dbdfd0;
}
/* blog */

.blog .container .row .blog .main_blog {
    padding: 30px 25px 14px 25px;
    background-color: #ffffff;
    height: 253px;
}
.blog .container .row .blog .blog_info {
    padding: 30px 25px 14px 25px;
    background-color: #ffffff;
}
/* footer */

.footer .container .footer_section .footer_logo h3 {
    font-size: 35px;
    font-family: var(--heading-font);
    color: #ffffff;
    margin-left: 13px;
}
.footer .container .footer_section .detail_text p {
    font-size: 16px;
    color: #adb29e;
    font-weight: 400;
}
.footer .container .footer_section .sosial a {
    margin-right: 4px;
    padding: 8px;
}
.footer .container .footer_section .sosial i {
    color: #ffffff;
    font-size: 18px;
}
.footer .container .footer_section .pages p {
    margin-bottom: 40px;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
}
.footer .container .footer_section .pages li {
    color: #dbdfd0;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer .container .footer_section .images img {
    margin: 0 15px 15px 0;
}
.footer .container .footer_section .images p {
    margin-bottom: 40px;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
}
